/* About section styles */
@use "variables" as *;

.about {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    min-height: 50vh;
}

.about h2 {
    color: $blue;
    font-family: $titleFont;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 2rem;
}

.aboutContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    img {
        display: flex;
        width: 200px;
        height: 267px;
        object-fit: cover;
        /* box shadow using generator: https: //html-css-js.com/css/generator/box-shadow/ */
        box-shadow: 5px 5px 2px 1px $black;
        /* margin to account for box shadow */
        margin: 6px;
    }

    p {
        margin-bottom: 0.5rem;
    }
    
}

.aboutTextContainer {
    margin-left: 1rem;
    display: flex;
    width: 65%;
    flex-direction: column;
    justify-content: space-between;
    /* adjustment to align the image with boxshadow */
    margin-top: 6px;
}