/* Contact section styles */
@use "variables" as *;


.contact {
    background-color: $blue;
    padding: 4rem 0;
    .wrapper {
        width: 60%;
    }
}

.contact h2 {
    color: $white;
    margin-bottom: 3rem;
}

form {
    display: flex;
    flex-direction: column;
    input,
    label {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }
    input,
    textarea {
        margin-top: 0.5rem;
    }
    input {
        padding: 0.2rem 0.5rem;
    }
}

.contact p {
    color: $white;
}

.contact label {
    color: $white;
    text-transform: uppercase;
}

.linkIconContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    a {
        display: flex;
        margin: 1rem;
    }
}

.linkIcon {
    font-size: 2.5rem;
    color: $coral;
    transform: scale(1);
    transition: transform 0.4s;
    &:visited {
        color: $coral;
    }
    &:hover,
    &:focus {
        transform: scale(1.1);
    }
}