/* Media Queries styles */
@use "variables" as *;

@media (max-width: 940px) {
    .projectSingleContainer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .projectTextContainer {
            width: 90%;
        }
        .projectSingleImageContainer {
            width: calc(90% - 6px);
        }
        ul {
            justify-content: space-around;
        }
    }

    .about {
        justify-content: center;
        align-items: center;
    }
    .aboutContainer {
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        width: 90%;
        img {
            width: 35%;
        }
    }

    .aboutTextContainer {
        margin-top: 1rem;
        width: 100%;
    }

    .skills ul {
        width: 90%;
        margin: 0 auto;
        justify-content: space-evenly;
    }

    .projectTextContainer {
        margin-top: 2rem;
    }

    .textAl-right {
        text-align: left;
    }

    .fd-row-rev {
        flex-direction: column;
    }

}

@media (max-width: 600px) {
    .scroll-down {
        top: -6rem;
    }

    nav ul {
        width: 70%;
    }

    nav li {
        width: 30%;
        text-align: center;
    }

    header {
        min-height: 100vh;
    }


    .navIcon {
        color: $white;
        font-size: 2rem; 
        &:visited {
            color: $white;
        }
    }


    .skills li {
        width: 25%;
    }

    .contact .wrapper {
        width: 80%;
    }
}