/* fonts used */
$titleFont: 'Playfair Display',
serif;
$bodyFont: 'Source Sans Pro',
sans-serif;

/* all colors used */
$black: #222527;
$grey: #595959;
$darkBlue: #424b6d;
$blue: #5169bd;
$lightBlue: #cad2ec;
$white: #f2f4f5;
$coral: #eeaf98;